:root {
  --primary: #f42054;
  --secondary: #d8d8d8;
  --accent: #43356b;
  --white: #ffffff;
  --background: #e2e8f0;
  --text: #020817;
  --text-grey: #64748b;
  --text-light: #cbd5e1;
  --btn-primary-bg: var(--accent);
  --btn-secondary-bg: var(--secondary);
  --btn-disabled-bg: #ccc;
  --font-family: Roboto, Helvetica, Arial, sans-serif;
}

$primary: var(--primary);
$secondary: var(--secondary);
$accent: var(--accent);
$white: var(--white);
$text-grey: var(--text-grey);
$text-grey-light: var(--background);

body {
  background: var(--accent);
  color: var(--white);
  font-family: var(--font-family);
  margin: 0;
}

@mixin btn($bg) {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: $bg;
  color: var(----white);
  cursor: pointer;
  transition: background 0.3s, outline 0.2s;
  margin: 10px;

  &:hover:not(:disabled) {
    filter: brightness(90%);
  }

  &:focus {
    outline: 3px solid var(--text);
    outline-offset: 3px;
  }

  &:disabled {
    background: var(--btn-disabled-bg);
    cursor: not-allowed;
  }
}

button {
  @include btn(var(--btn-primary-bg));
}

button.secondary {
  @include btn(var(--btn-secondary-bg));
}
